* {
  font-family: "Manrope", sans-serif;
  font-size: 16px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100px;
}
.header_nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 40%;
}
.header_nav h5 {
  font-size: 1.1rem;
  cursor: pointer;
}
.header_search {
  display: flex;
  width: 10%;
}
